@import "../index";
.foo {
  content: svg(
    '<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
     width="100%" viewBox="0 0 160 160">

      <circle cx="80" cy="80" r="80" fill="red" />


    </svg>'
  );
}
